.viewRecipe-card .card-image {
  height: 42rem;
  transition: transform 200ms ease-in;
}

.viewRecipe-card .card {
  width: 800px;
  min-height: 600px;
  border-radius: 15px;
}

.viewRecipe-card .instructions {
  border: 1px solid #222;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  min-height: 200px;
  color: #222;
}

.viewRecipe-card .instructions-heading {
  margin-top: 10px;
  margin-bottom: 10px;
}

.viewRecipe-card .instructions-content {
  padding: 10px;
  text-align: justify;
}

.viewRecipe-card .user-creater {
  position: relative;
  margin-top: 30px;
  font-size: small;
  white-space: nowrap;
  display: inline-block;
}
